* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Supermercado One, sans-serif;
}

html {
  height: 100%;
}

hr {
  height: 2px;
  background-color: gray;
  border: none;
}

hr:nth-of-type( 1 ) {
  margin-top: 20px;
}

hr:nth-of-type( 2 ) {
  margin: 20px 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.trybewarts-header-logo {
  width: 80px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
  height: 20px;
}

#email , #password , #enter {
  width: 30%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 15px;
}

#enter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(126, 14, 160);
  color: white;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 3px;
}

main , #evaluation-form {
  display: flex;
  justify-content: space-evenly;
}

#evaluation-form {
  flex-flow: column;
  width: 675px;
  align-content: space-between;
}

#evaluation-form h1 {
  text-align: center;
}


#trybewarts-forms-logo {
  height: 500px;
}

#full-name , #email-select-container {
  display: flex;
}

#email-select-container {
  align-items: center;
}

#email-select-container h3 {
  margin-top: 15px;
}

#input-name , #input-lastname , #input-email , #house {
  flex-basis: 50%;
  padding: 10px;
  margin-top: 15px;
}

#second-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.families {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  justify-content: space-between;
  height: 100px;
}

#technologies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 60%;
}

#technologies-container label {
  width: 30%;
}

#technologies-container > #label-content {
  width: 100%;
}

.rate-Trybewarts {
  display: flex;
  justify-content: space-between;
}

#textarea-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#textarea {
  resize: none;
  flex: 1 1 1000px;
}

#counter {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.agreement-infos {
  margin-top: 20px;
}

#submit-btn {
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(72, 3, 93);
  color: white;
  font-size: 23px;
  font-weight: 900;
  border-radius: 5px;
  letter-spacing: 3px;
}

footer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  background-color: rgb(58, 58, 58);
  padding: 10px 0;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
